* {
  margin: o;
  padding: 0;
}
.table-container {
  width: 100%;
  background-color: (#c6cbef);
  background: repeating-linear-gradient(
      rgba(0.003, 0.2, 12, 0.7),
      rgba(33, 44, 55, 0.7)
    ),
    url("/image/white4.jpg");
  background-size: contain;
  background-repeat: round;
  height: 40%;
  background-color: #6b58e6;
}

.table-container h1 {
  margin-top: 0px;
  color: #fff;
  padding: 0.5em;
  font-family: "Itim", cursive;
  letter-spacing: 3px;
  cursor: pointer;
}
.myForm {
  display: flex;
  color: #e3e7f1;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  font-family: "Charm", cursive;
  font-size: larger;
  align-self: center;
  line-height: 2;
  text-transform: capitalize;
}
.myForm .input-branch {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.box-3 {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  height: 7vh;
}

.myForm input {
  height: 20px;
}
::placeholder {
  color: #fff;
}

.myForm input[type="text"],
.myForm input[type="number"] {
  font-family: "Charm", cursive;
  width: 90%;
  height: 3em;
  border-radius: 10px;
  padding-left: 3%;
  text-transform: capitalize;
  outline: 0;
  border: none;
  border-bottom: 2px solid #494ca2;
  background-color: transparent;
  font-size: 20px;
  color: #fff;
}

.myForm .box-1 {
  margin-left: 3.5%;
}

.tbl {
  width: 100%;
  background-color: #ccc;
  background-size: cover;
  background-repeat: round;
  height: 300px;
  overflow-y: scroll;
  color: #000;
  background-blend-mode: soft-light;
  font-family: "Itim", cursive;
}
.tbl table {
  width: 100%;
  border: 2px solid #000;
  text-align: center;
}
.tbl th {
  color: black;
  font-weight: bolder;
  border: 2px solid #000;
}
table tr td {
  border: 2px solid #000;
}

.table-container button {
  background-color: #494ca2;
  color: #fff;
  border: 0px;
  padding: 1em;
  cursor: pointer;
}
