* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  image-rendering: optimizeQuality;
  text-rendering: optimizeLegibility;
}
.tot-cont {
  background-color: #e3e3e9;
}
/* header {
  width: 100%;
  height: 12vh;
  z-index: 3;
}
header .topArea {
  display: flex;
  justify-content: space-between;
  padding: 2%;
}
.topArea .logo img {
  width: 50px;
  position: relative;
  top: -20px;
}
.displayed-list {
  word-spacing: 100px;
}
.displayed-list a {
  text-decoration: none;
}
.displayed-list a:hover {
  border-bottom: 2px solid #493ca2;
  padding: 10px;
} */

.sch {
  display: flex;
  flex-direction: column;
  color: #fff;
  height: 80vh;
  background-color: #494ca2;
  width: 100%;
  justify-content: center;
}
.sch h1 {
  text-transform: uppercase;
  font-size: 70px;
  position: absolute;
  left: 8%;
  transform: translate(-8%, -0%);
}
.rec a {
  text-decoration: none;
  border: 2px solid white;
  padding: 10px;
  color: #fff;
  position: absolute;
  left: 8%;
  top: 65%;
  transform: translate(-20%, -0%);
}
.clue {
  width: 100%;
  height: 20%;
  position: absolute;
  top: 74%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.clue h4 {
  padding-left: 3%;
}
.clue p {
  padding-left: 3%;
}
.mem {
  background: linear-gradient(#7a02ca, #370594);
  width: 35%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  margin-right: 4%;
  filter: drop-shadow(0px 10px #cabee0);
  outline: none;
}

.sta {
  background-color: #fff;
  color: #494ca2;
  width: 35%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  margin-right: 4%;
  filter: drop-shadow(0px 10px #cabee0);
  outline: none;
}
.hel {
  background-color: #fff;
  color: #494ca2;
  width: 35%;
  height:30vh;
  display: flex;
  flex-direction: column;
  margin-right: 4%;
  filter: drop-shadow(0px 10px #cabee0);
  outline: none;
}
.log {
  background-color: #fff;
  color: #494ca2;
  width: 35%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0px 10px #cabee0);
  outline: none;
}
.top-List {
  display: flex;
  justify-content: space-around;
  color: #fff;
  width: 50%;
}
.top-List img {
  display: flex;
  flex-direction: column;
  width: 20px;
  padding-top: 4%;
  padding-left: 3%;
}
.top-List a {
  color: #fff;
  text-decoration: none;
}

.about {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 30vh;
}
.abt-tex h1 {
  position: absolute;
  top: 105vh;
  text-transform: capitalize;
  font-size: 20px;
  padding-left: 4%;
  /* margin-top: 10%; */
}
.abt-tex {
  width: 40%;
  margin-top: 15%;
}
.abt-tex p {
  font-size: 18px;
  padding-left: 4%;
}
.ab-img {
  width: 40%;
}
.ab-img img {
  width: 100%;
  margin-top: 29%;
  padding-right: 5%;
}
.nav {
  margin-top: 25%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  counter-reset: num;
  height: 30%;
}
.nav a::before {
  /* Increment Counter */
  counter-increment: num;
  /* Display Counter */
  content: counter(num) ": ";
}
.nav a {
  text-decoration: none;
  padding-left: 2%;
}
.nav-link {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 2%;
  line-height: 5;
  margin-top: 7%;
}
.nav-link :hover {
  border-bottom: 2px double #493ca2;
}

.nav-img {
  padding-right: 2%;
  width: 70%;
  display: flex;
  justify-content: flex-end;

}
.nav-img img {
  width: 50%;
  padding-right: 3%;
}

.research {
  margin-top: 10%;
  padding: 2%;
}
.comp {
  height: 50%;
}
fieldset {
  border: 2px solid #493ca2;
  height: 100%;
}
fieldset ol {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
fieldset li {
  padding-top: 2%;
}
fieldset ol li a {
  text-decoration: none;
  color: #000;
}
fieldset ol li a:hover {
  border-bottom: 2px solid;
  color: #493ca2;
  padding: 10px;
}
fieldset #serv {
  position: relative;
  left: 35%;
  width: 30%;
}
fieldset #serv:hover {
  opacity: 0.3;
}
.recent {
  width: 100%;
  height: 30%;
}
.recent h3 {
  text-align: center;
  color: #493ca2;
}
.all-act {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.bo {
  background-image: url("/image/studL1.png");
  height: 50vh;
  width: 20%;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #370594;
}
.bo:hover {
  opacity: 0.2;
}
.news {
  background-image: url("/image/communications.png");
  height: 50vh;
  width: 20%;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #370594;
}
.news:hover {
  opacity: 0.2;
}
.quiz {
  background-image: url("/image/quiz-on-computer-with-question-signs-around.png");
  height: 50vh;
  width: 20%;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #370594;
}
.quiz:hover {
  opacity: 0.2;
}
.sum {
  width: 100%;
  text-align: center;
  margin-bottom: 8%;
  margin-top: 3%;
}
.sum button {
  background-color: #493ca2;
  width: 15%;
  height: 7vh;
  font-size: large;
  border-radius: 20px;
  color: #fff;
  box-shadow: 3px 10px #cabee0;
  outline: none;
}
.cust {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 80vh;
}
.hap-c {
  width: 40%;
}
.hap {
  height: 31%;
  background-color: #fff;
  margin-top: 14%;
  margin-left: 5%;
  padding-left: 5%;
  box-shadow: 3px 10px #cabee0;
  outline: none;
}
.hap-c h3 {
  line-height: 2;
  padding: 2% 0 0 2%;
}
.hap-c a {
  color: #493ca2;
  padding: 2% 0 0 2%;
}
.hap-c a:hover {
  font-size: 20pt;
}
.hap > p {
  padding: 2% 0 2% 2%;
}
.mom {
  width: 60%;
}
.mom-bord {
  background-color: #fff;
  color: #000;
  width: 70%;
  height: 40%;
  position: relative;
  left: 20%;
  top: 5%;
  border-color: #fff;
  box-shadow: 3px 10px #cabee0;
  outline: none;
}
.mom img {
  width: 10%;
  position: relative;
  left: 50%;
  top: -8px;
}

.mom p {
  padding: 0% 10%;
}
.mom fieldset img {
  width: 30%;
  position: relative;
  left: 80%;
  top: 1%;
  border: none;
}

.signup {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 25%;
  height: 30%;
  position: absolute;
  top: 449%;
}
.sigup {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  background-color: #fff;
  height: 100%;
  filter: drop-shadow(3px 10px #cabee0);
  outline: none;
}
.sigup b {
  color: #493ca2;
}
.sigup button {
  width: 17%;
  height: 6vh;
  background-color: #493ca2;
  color: #fff;
  border-radius: 20px;
  box-shadow: 3px 10px #cabee0;
  outline: none;
}
footer {
  width: 100%;
  height: 100vh;
  background-color: #493ca2;
}
.ff {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding-top: 15%;
}
.ff .img {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 30%;
  color: #fff;
}
.ff img {
  width: 10%;
  height: 7vh;
}
.img .case {
  display: flex;
}
.f-phon {
  display: flex;
  flex-direction: column;
}
.f-phon i {
  padding-left: 3%;
}
.con-link {
  display: flex;
  justify-content: space-around;
  width: 80%;
  align-items: center;
}
.con-link img {
  width: 25%;
}
.f-link {
  display: flex;
  flex-direction: column;
  width: 25%;
  color: #fff;
}
.f-link a {
  color: #fff;
  text-decoration: none;
  line-height: 2;
}
.f-a {
  display: flex;
  flex-direction: column;
}
.f-cat {
  width: 25%;
  color: #fff;
}
.cat-lis {
  display: flex;
  flex-direction: column;
}

.cat-lis a {
  color: #fff;
  text-decoration: #fff;
  line-height: 2;
}
.f-easy {
  color: #fff;
}
.emai a {
  color: #fff;
}
footer a:hover {
  border-bottom: 2px solid #fff;
  color: #fff;
  border-bottom-width: 2px;
}
footer .ryt {
  display: flex;
  justify-content: center;
  justify-items: center;
  background-color: #493ca2;
  color: #fff;
  height: 10vh;
  width: 100%;
}
